
@charset "UTF-8";

body {
    background-color: rgb(140, 140, 236);font-family: Arial, Helvetica, sans-serif; font-size: 20px;
    }
    h1 {
    color: mediumslateblue;
    background-color: rgb(88, 22, 22);
    }
    h2 {
        color: rgb(134, 115, 115);
    }
    p {
        text-align: justify;
    }